[user]  
	name = Michael Simo
	email = os@mpmsimo.com

[push]
    default = simple

[branch "master"]
    remote = origin
    merge = refs/heads/master

[color]
    ui = auto

[color "branch"]
    current = red
    local = yellow
    remote = green

[color "diff"]
    meta = cyan
    frag = magenta
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    editor = vim

[alias]
    a = add
    aa = add --all

    b = branch

    c = commit
    ca = commit -a
    cd = commit --amend
    cad = commit -a --amend

    cp = cherry-pick

    co = checkout
    cob = checkout -b

    lc = log ORIG_HEAD.. --stat --no-merges
    llog = log --date=local

    p = push
    pom = push origin master
    po = push origin
    pob = !bash -c "git push origin $(git branch | grep '*' | cut -d ' ' -f2)"

    pl = pull
    s = status -sb

    uco = reset HEAD^
    hist = log --follow --
