[user]  
	name = Michael Simo
	email = mpmsimo@gmail.com

[push]
    default = simple

[branch "main"]
    remote = origin
    merge = refs/heads/main

[color]
    ui = auto

[color "branch"]
    current = red
    local = yellow
    remote = green

[color "diff"]
    meta = cyan
    frag = magenta
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    editor = nvim

[alias]
    a = add
    aa = add --all
    ca = commit -a
    cam = commit --amend
    cp = cherry-pick
    co = checkout
    cob = checkout -b
    com = checkout main
    coma = checkout master
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)"%an" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order #view full colorized git history for the repo
    lc = log ORIG_HEAD.. --stat --no-merges
    llog = log --date=local
    p = push
    pom = push origin main
    po = push origin
    pl = pull
    s = status -sb
    mm = merge main
    uco = reset HEAD^

[pull]
	rebase = false
